.benefits {
padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding: 94px 0 ;

  }
}

.benefits__background {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
}

.benefits__icons {
  width: 70px;
  height: 70px;
}

.benefits__list {
  margin-top: 15px;
  margin-bottom: -30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.benefits__list .item {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.benefits__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-text-color;
  
  @media screen and (min-width: $desktop) {
    text-align: left;
  }

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.benefits__text {
  color: $paragraph-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
