body {
  font-family: "Roboto";
  color: $title-text-color;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin: 0;

 
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  
  
  
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }


}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
